<h1>Skinet Welcome {{title}}</h1>

<button type="button" class="btn btn-primary">
  Single Button
</button>

<fa-icon [icon]="faCoffee" size="6x"></fa-icon>

<fa-icon [icon]="['fas', 'coffee']" size="lg"></fa-icon>

<h2>Example Table</h2>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
